@font-face {
	font-family: 'HelveticaNeueCyr';
	src:url('../fonts/helveticaneuecyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-medium.svg#helveticaneuecyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
		font-weight: 400;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src:url('../fonts/helveticaneuecyr-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-bold.svg#helveticaneuecyr-bold') format('svg'); /* Chrome < 4, Legacy iOS */
	font-weight: 700;
}
@font-face {
	font-family: 'HelveticaNeueCyr-Roman';
	src:url('../fonts/helveticaneuecyr-roman.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-roman.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-roman.svg#helveticaneuecyr-roman') format('svg'); /* Chrome < 4, Legacy iOS */
}