.ask{
    &--hidden{
        display: none;
    }
    &__header{
        font-family: 'HelveticaNeueCyr-Roman', sans-serif;
        padding: 20px;
        background-color: #1e4339;
    }
    &__title{       
        margin-bottom: 14px;
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
    }
    &__text{
        color: #80a095;       
        font-size: 16px;
        font-weight: 400;
        text-align: left;
    }
    .three{
        display: block;
        padding: 39px 22px 31px;
    }
    &__button-wrapper{
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }
    &__button{
        padding-right: 27px;
        position: relative;
        min-width: 158px;
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            right: 12px;
            width: 16px;
            height: 16px;
            background-image: url(../src/arrow-right-svgrepo-com.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            transform: translateY(-50%);
        }
    }
    &__back-button{
        padding: 5px 15px;
        display: flex;
        align-items: center;
        column-gap: 7px;
        min-width: 94px;
        height: 34px;
        color: #b9d1cc;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: 0.35px;
        justify-content: start;
        border-radius: 17px;
        border: 1px solid #0d211c;
        background-color: #2a5f4e;
        svg{
            width: 16px;
            height: 16px;
            transform: rotate(180deg);
        }
        span{
            padding-right: 5px;
        }        
    }
}